* {
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*/

body {
  background-color: #fbedda;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
}

/*Header-------------------------------------*/

.header_body {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}

.logo {
  width: 130.84px;
  height: 26.934px;
  flex-shrink: 0;
}

.headerMenuBody {
  display: flex;
  gap: 110px;
}

.headerMenuBody > ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 81px;
}

.headerMenuBody > ul > li > a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #021112;
  text-decoration: none;
}

.headerMenuBody > ul > li > a:hover {
  color: #13a6ba;
}

.headerMenuBody > a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  text-decoration: none;
  background-color: #13a6ba;
  width: 127px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/*Section1-------------------------------------*/

.section1_body {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 142px;
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 988px;
  max-height: 210px;
}

.titles > h1 {
  color: var(--Black, #021112);
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 105px;
}

.titles > p {
  margin-top: 31px;
  color: var(--black-shade, #677071);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.menu_body {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.07);
}

.rent_buy_selt {
  border-bottom: 1px solid #e0e2e3;
  padding-bottom: 28px;
}

.rent_buy_selt > ul {
  display: flex;
  list-style: none;
  gap: 86px;
  padding-top: 45px;
  padding-left: 55px;
}

.rent_buy_selt > ul > li > button {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: var(--black-shade-2, #cccfd0);
  text-align: center;
  background-color: white;
}

.rent_buy_selt > ul > li > button:hover {
  color: black;
}

.search_body {
  display: flex;
  margin-top: 33px;
  gap: 68px;
}

.search_body > ul {
  list-style: none;
  display: flex;
  margin-left: 47px;
  gap: 100px;
}

.search_body > ul > li > div {
  display: flex;
}

.search_body > ul > li > div > p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.search_body > ul > li > div > div {
  width: 30px;
  height: 30px;
}

.search_body > ul > li > button {
  margin-bottom: 44px;
  margin-left: 30px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  background-color: white;
}

.searhBtn_body {
  margin-right: 54px;
}
.searhBtn_body > button {
  border-radius: 20px;
  background: #13a6ba;
  width: 206.314px;
  height: 82.979px;
  color: #fff;
  text-align: center;
  font-family: Noto Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
}

.houseImg {
  width: 100%;
  margin-top: -200px;
}

/*Section2-------------------------------------*/

/*Section3-------------------------------------*/
.section3_body {
  display: flex;
}

.miniHouseImg {
  width: 400.399px;
  height: 600.099px;
}

.section3Titles  > h2 {
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 91px;
}

.secondItems > div > img {

}

/*Section4-------------------------------------*/

/*Section5-------------------------------------*/

/*Section6-------------------------------------*/

/*Footer-------------------------------------*/
